
.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .sidebar {
  background-color: #1e1e1e;
}

.dark-mode .sidebar a {
  color: #ccc;
}

.dark-mode .sidebar .social-icons a {
  color: #ccc;
}